<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW USER</title>
</head>
<body>
    <form method="post" action="/user">
        <input placeholder="enter the rollno" name="rollno">
        <input placeholder="enter the age " name="age">
        <input placeholder="enter the name " name="name">
        <input placeholder="enter the email" name="email">
        <button>Submit</button> 
    </form>
</body>
</html>